<link rel="stylesheet" href="/stylesheets/partials/footer.css">
<footer class="page-footer font-small teal pt-4 footer">
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Contact for support:</h5>
                <p>
                    Phone number: +84 2323 123 5433<br/>
                    Email: vuabansach@gmail.com
                </p>

            </div>
            <!-- Grid column -->

        </div>
    </div>
</footer>