<link rel="stylesheet" type="text/css" href="stylesheets/partials/item.css">

<div class="section-container">
  <h4>Collections</h4>
  <div class="section-container-flex">
    <div class="item-card-collection">
      <img src="https://images-na.ssl-images-amazon.com/images/I/51jbwMIz9iL._SX260_.jpg" alt="Denim Jeans">
      <h5>Fitness Motivation Book Bundle</h5>
      <p class="price">$19.99</p>
      <p><button>Contact</button></p>
    </div>
    <div class="item-card-collection">
      <img src="https://i.etsystatic.com/6681838/r/il/0f2b98/1128476399/il_570xN.1128476399_4alu.jpg" alt="Denim Jeans">
      <h5>Red Decorative Books</h5>
      <p class="price">$19.99</p>
      <p><button>Contact</button></p>
    </div>
    <div class="item-card-collection">
      <img src="https://onethirdstories.com/wp-content/uploads/2019/01/Book-bundle-1.jpg" alt="Denim Jeans">
      <h5>Book bundle 1</h5>
      <p class="price">$19.99</p>
      <p><button>Contact</button></p>
    </div>
    <div class="item-card-collection">
      <img src="https://images-eu.ssl-images-amazon.com/images/I/51zWXlw832L.jpg" alt="Denim Jeans">
      <h5>Productivity Book Bundle</h5>
      <p class="price">$19.99</p>
      <p><button>Contact</button></p>
    </div>
  </div>
</div>
