<link rel="stylesheet" type="text/css" href="stylesheets/partials/items.css">

<div class="item-section-container">
  <h4>Books for you</h4>
  <div class="item-section-container-flex">
      {{>item}}
  </div>
</div>