<title>Profile</title>
<h1 class="text-center">Profile</h1>
<div class="row">

    <div class="col-sm-2"><img src="./assets/img_avatar.png"
            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""></div>

    <div class="col-sm-8">
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" class="form-control" disabled name="" id="" value="{{this.user.username}}">
        </div>
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" disabled name="" id="" value="{{this.user.name}}">
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" disabled name="" id="" value="{{this.user.email}}">
        </div>
        <div class="form-group">
            <label for="">Phone</label>
            <input type="text" class="form-control" disabled name="" id="" value="{{this.user.phone}}">
        </div>
    </div>

    <div class="col-sm-2">
        <a name="" id="" class="btn btn-outline-primary w-75" href="/profile/changeProfile" role="button">
            <i class="fa fa-user" aria-hidden="true"></i>
            Change Profile
        </a>
        <br>
        <br>
        <a name="" id="" class="btn btn-outline-primary w-75" href="#" role="button">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            Contact
        </a>
        <br>
        <br>
        <button type="button" class="btn btn-outline-primary w-75">
            <i class="fa fa-heart" aria-hidden="true"></i>
            Favorite List
        </button>
        <br>
        <br>
        {{#if isReader}}
        <button type="button" class="btn btn-outline-primary w-75">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
            Become Merchant
        </button>
        {{/if}}
        {{#if isMerchant}}
        <button type="button" class="btn btn-outline-primary w-75">
            <i class="fa fa-eye" aria-hidden="true"></i>
            View Uploaded
        </button>
        <br>
        <br>
        <button type="button" class="btn btn-outline-primary w-75">
            <i class="fa fa-upload" aria-hidden="true"></i>
            Upload Book
        </button>
        <br>
        <br>
        {{/if}}
        {{#if isAdmin}}
        <button type="button" class="btn btn-outline-primary w-75">
            <i class="fa fa-eye" aria-hidden="true"></i>
            Account List
        </button>
        <br>
        <br>
        <button type="button" class="btn btn-outline-primary w-75">
            <i class="fa fa-upload" aria-hidden="true"></i>
            Book List
        </button>
        <br><br>
        {{/if}}
                <button type="button" class="btn btn-outline-danger w-75">
            <i class="fa fa-key" aria-hidden="true"></i>
            Change Password
        </button>
        <br>
        <br>
    </div>
</div>