<!DOCTYPE html>
<html lang="en">

<head>

	<title>Used Book Sharing Web</title>
	<link rel="icon" href="/images/book-solid.png">


	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/util.css">
	<!--===============================================================================================-->
	<script src='https://www.google.com/recaptcha/api.js?hl=vi'></script>
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>

</head>
{{>nav}}

<body>
	<div class="limiter" style="min-height: 550px;margin-bottom: 30px;">
		<div class="container-main-content">
			<div class="wrap-main-content">

				{{{body}}}

			</div>
		</div>
	</div>
</body>
{{>footer}}




<!--===============================================================================================-->
<!--===============================================================================================-->
<script src="/vendor/bootstrap/js/popper.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/tilt/tilt.jquery.min.js"></script>
<script>
	$('.js-tilt').tilt({
		scale: 1.1
	})
</script>

</html>