.section-container {
    padding: 10px;
    padding-top: 20px;
    width: 100%;
}

.section-container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
}

.section-container-flex .card {
    width: 300px;
    height: 450px;
    margin: 5px 5px 5px 10px;
}

.item-card-collection {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: 3%;
    text-align: center;
    font-family: arial;
}

.item-card-collection h5 {
    height: 50px;
}

.item-card-collection img {
    width: 100%;
    height: 230px;
}

.item-card-collection h6 {
    height: 50px;
}

.item-price {
    color: grey;
    font-size: 22px;
}

.item-card-collection button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.item-card-collection button:hover {
    opacity: 0.7;
}